<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 mt-2">
          <div class="card">
              <div class="card-body">
                <div class="row">
                    <div class="col-12  ">
                      <div class="accordion accordion-flush" id="accordionFlushExample">
<!---------------------------------------------------------------------------1.0 ItineraryReview------------------------------------------------------------------------>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                             <h5>1. Review your itinerary </h5>
                              </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse show   " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                <form action="#">
                                          <div class="row">
                                              <div class=" col-3 col-sm-3 col-md-3 col-lg-3 ">
                                                  <label id="trip"><strong> Belgaum To Delhi</strong></label>
                                              </div>
                                              <div class="col-3 col-sm-1 col-md-1 col-lg-2 sm mt-1 ">
                                                  <label id="day">Wed, 05 Jan</label>
                                              </div>
                                              <div class="col-4 col-sm-4 col-md-3 col-lg-3 sm ">
                                                  <label id="duration">Total duration 8h 15m</label>
                                              </div>
                                              
                                              <div class="col-6 col-sm-4 col-md-3 col-lg-3 sm">
                                                  <span class="badge rounded-pill bg-secondary " id="refundablebadge">PARTIALLY REFUNDABLE</span>
                                              </div>
                                          </div>
                                          <div class="row mt-2">
                                              <div class="col-12 col-sm-12 col-md-2 " >
                                                  <img src="..\assets\images\spicejet.png" id="flightlogo" class="img-fluid" width="80" height="35">
                                                  <label class="sm" id="">Spice Jet,</label><br>
                                                  <label class="sm" id="">SG-4572,</label><br>
                                                  <label class="sm" id="">ECONOMY</label>
                                              </div>
                                              <div class="col-4 col-sm-3 col-md-2 src">
                                                                <h6>BGM</h6>
                                                                <h6>1:30</h6>
                                                  <label class="sm">Wed, 5 Jan</label><br>
                                                  <label class="sm">Sambre, Terminal</label>
                                              </div>
                                              <div class="col-4 col-sm-2 col-md-2 time sm" id="">
                                                  <h3><i class="bi bi-clock"></i></h3>
                                                  <label>8h 15m</label>
                                          </div>
                                          <div class="col-4 col-sm-3 col-md-2 " >
                                                      <h6>DEL</h6>
                                                      <h6>9:45</h6>
                                                      <label class="sm">Wed, 5 Jan</label><br>
                                                      <label class="sm">Delhi, Terminal</label>
                                          </div>
                                          <div class="col-4 col-sm-2 col-md-2 col-lg-2 mt-1 baggage sm" >
                                              
                                              <label id="checkin-baggage">Check-in baggage</label>
                                              <label id="cabin-baggage">Cabin baggage</label>
                                      </div>
                                      <div class="col-1 col-sm-1 col-md-1 mt-1 weight sm">
                                          <label id="checkin-weight">15kg/Person</label>
                                          <label id="cabin-weight">7kg/Person</label>
                                  </div>
                                  </div>
                                  <hr>
                                   <div class="row">
                                       <div class="col-12 col-md-10">
                                           <h6>Secure your trip</h6>
                                       </div>
                                   </div>                   
                                   <div class="row mt-1">
                                      <div class="col-12 col-md-11">
                                         <div class="card text-white bg-primary">
                                             <div class="card-header">Protect your trip with travel insurance</div>
                                             <div class="card-body">
                                               <h5 class="card-title">Primary card title</h5>
                                               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                             </div>
                                           </div>
                                      </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                      <div class="col-12 col-md-10">
                                         <h6> <label class="form-label">Add a coupon code or gift card</label></h6>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-11 col-sm-8 col-md-6 mt-1 ">
                                          <input type="text" class="form-control" id="couponcode" placeholder="Enter your Coupon Code/Card Number">
                                      </div>
                                      <div class="col-3 col-md-3 mt-1">
                                          <button type="submit" class="btn btn-warning continue " id="applybtn1">Apply</button>
                                        </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                      <div class="col-12 col-md-12">
                                          <label class="form-label"><h6>Get unlimited discount with Flipkart Super Coins</h6></label>
                                          <a href="#"><i class="bi bi-info-circle info" id=""></i></a>
                                          <span class="badge rounded-pill bg-success" id="newbadge">New</span>
                                          <p class="sm" id="" style="color:green">You can use all your SuperCoins. Also earn up to 50 SuperCoins.</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-11 col-sm-8 col-md-6">
                                        <div class="input-group flipkartcode mb-3">
                                          <span class="input-group-text" id="ccode">+91</span>
                                          <input type="text" class="form-control" id="flipkartno" placeholder="Your registered Mobile no on Flipkart">
                                        </div>
                                        </div>
                                        <div class="col-3 col-sm-3 col-md-2">
                                          <button type="submit" class="btn btn-warning mb-3  continue" id="applybtn2">Apply</button>
                                        </div>

                                  </div>
                                  <div class="row">
                                      <div class="col-12 col-md-12">
                                          <img class="img-fluid" src="./images/spicejet.png" alt="LOGO" width="90" height="50">
                                          <a href="#" class="sm info"  id="">know more</a>
                                      </div>
                                  </div>
                                  <div class="row mt-4">
                                      <div class="col-4 col-md-4">
                                          <button type="submit" class="btn btn-warning mb-3 px-4 continue" id="firstcontinuebtn">Continue</button>
                                      </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
<!----------------------------------------------------------------------------2.0Add-ons-------------------------------------------------------------------------------->
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                               <h5> 2.Choose add-ons</h5>
                              </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse  " aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                <form action="#">
                                <label><h6>Need more legroom? Choose the seat you want</h6></label>
                                <div class="row ">
                                  <div class="col-12">
                                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                      <div class="carousel-inner">
                                        <div class="carousel-item active">
                                          <img src="" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                          <img src="" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                          <img src="" class="d-block w-100" alt="...">
                                        </div>
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                      </button>
                                    </div>
                                  </div>
                                </div>

                                   <div class="row mt-2 ">
                                    <div class="col-12">
                                      <label><h6>Add a delicious meal for your flight</h6></label>
                                    </div>
                                    <div class="row mt-1 d-flex justify-content-evenly">
                                      <div class="col-5 col-sm-3 mt-2 ">
                                        <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
                                          <input type="radio" class="btn-check" name="btnradio" id="nomeals" autocomplete="off" checked>
                                          <label class="btn btn-outline-primary meals" for="nomeals">No meals<br>0</label>
                                          </div>                                            
                                      </div>
                                      <div class="col-5 col-sm-3 mt-2 ">
                                        <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
                                          <input type="radio" class="btn-check" name="btnradio" id="veg" autocomplete="off" checked>
                                          <label class="btn btn-outline-primary meals" for="veg">Veg<br>350</label>
                                          </div>                                            
                                      </div>
                                      <div class="col-5 col-sm-3 mt-2 ">
                                        <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
                                          <input type="radio" class="btn-check" name="btnradio" id="non-veg" autocomplete="off" checked>
                                          <label class="btn btn-outline-primary meals" for="non-veg">Non-Veg<br>375</label>
                                          </div>                                            
                                      </div>
                                      <div class="col-5 col-sm-3 mt-2">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary meals" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                         Other<br>option(s)
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                ...
                                              </div>
                                              <div class="modal-footer text-dark">
                                                <label>1000</label>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                                                <button type="button" class="btn btn-primary">Done</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>                                             
                                      </div>
                                      
                                    </div>
                                  </div>
                                    
                                    
                                    <div class="row mt-2 ">
                                      <div class="col-12">
                                        <label><h6>Carrying more luggage? Get extra check-in baggage</h6></label>
                                      </div>
                                      <div class="row mt-1 d-flex justify-content-evenly">
                                        <div class="col-5 col-sm-3 mt-2 ">
                                          <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="btnradio" id="noluggage" autocomplete="off" checked>
                                            <label class="btn btn-outline-primary laggage" for="noluggage">No Luggage <br>0</label>
                                            </div>                                            
                                        </div>
                                        <div class="col-5 col-sm-3 mt-2 ">
                                          <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="btnradio" id="5KG" autocomplete="off" checked>
                                            <label class="btn btn-outline-primary laggage" for="veg">5KG<br>2000</label>
                                            </div>                                            
                                        </div>
                                        <div class="col-5 col-sm-3 mt-2 ">
                                          <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="btnradio" id="10KG" autocomplete="off" checked>
                                            <label class="btn btn-outline-primary laggage" for="non-veg">10KG<br>4000</label>
                                            </div>                                            
                                        </div>
                                        <div class="col-5 col-sm-3 mt-2">
                                          <!-- Button trigger modal -->
                                          <button type="button" class="btn btn-primary laggage" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                           Other<br>option(s)
                                          </button>

                                          <!-- Modal -->
                                          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                  ...
                                                </div>
                                                <div class="modal-footer text-dark">
                                                  <label>1000</label>
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                                                  <button type="button" class="btn btn-primary">Done</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>                                             
                                        </div>
                                        
                                      </div>
                                    </div>

                                    <div class="row mt-4 ">
                                      <div class="col-1 col-sm-3 col-md-2 col-lg-2 ">
                                        <button type="button" class="btn btn-primary continue" id="secondcontinuebtn">Continue</button>
                                      </div>
                                      <div class="col-10 col-sm-5 col-md-4  ">
                                        <button type="button" class="btn btn-primary" id="skipbtn">Skip this</button>
                                      </div>
                                      
                                      
                                    </div>
                                  
                                  </form>
                                   </div>
                          </div>
                        </div>
<!-----------------------------------------------------------------------------3.0Add-Details--------------------------------------------------------------------------->
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <h5>3.Add Contacts</h5>
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse   " aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                <form action="#">
                                  <div class="row">
                                      <div class="col-6 col-sm-5 col-md-3 ">
                                        <h6>  <label class="form-label" id="">Mobile Number</label> </h6>
                                      </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-1 col-sm-1 col-md-1">
                                              <div class="dropdown">
                                                  <button class="btn btn-secondary dropdown-toggle btn-light " type="button" id="countrycode" data-bs-toggle="dropdown" aria-expanded="false">
                                                    +91
                                                  </button>
                                                  <ul class="dropdown-menu sm" id="" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                  </ul>
                                                </div>
                                          </div>
                                  
                                      <div class="col-9 col-sm-5 col-md-4 col-lg-4">
                                          <input type="text" class="form-control" id="mobilenumberinput" placeholder="Enter your Mobile Number">
                                      </div>
                                  </div>
                                  <div class="row mt-2">
                                      <div class="col-12">
                                        <h6>  <label class="form-label" id="">Email Address</label> </h6>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-12 col-sm-7 col-md-5">
                                          <input type="email" class="form-control" id="emailid" placeholder="Enter your Email Address" required>
                                      </div>
                                  </div>
                                  <div class="row mt-2">
                                      <div class="col-12 ">
                                          <div class="form-check">
                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                              <label class="form-check-label" for="flexCheckDefault">
                                                I am an existing user
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                              <label class="form-check-label" for="flexCheckChecked">
                                                Send me travel offers,deals,news by email and messages
                                              </label>
                                            </div>
                                      </div>
                                  </div>
                                  <div class="row mt-3">
                                      <div class="col-4">
                                          <button type="submit" class="btn btn-warning mb-3 px-4 continue" id="thirdcontinuebtn">Continue</button>
                                      </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
<!-----------------------------------------------------------------------------4.0Add-ons------------------------------------------------------------------------------->
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                 <h5>4. Add Deatils</h5>
                                </button>
                              </h2>
                              <div id="flush-collapseFour" class="accordion-collapse collapse  " aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
<form action="#">
                                  <div class="row">
                                    <div class="col-12 mb-3">
                                      <label><h6>Adult 1</h6></label>
                                    </div>
                                    <div class="col-8 col-sm-4 col-md-4 col-lg-4  mt-1">
                                      <input type="text" class="form-control" id="firstname" placeholder="FirstName">
                                    </div>
                                    <div class="col-8   col-sm-4 col-md-4 col-lg-4  mt-1">
                                      <input type="text" class="form-control" id="lastname" placeholder="Lastname">
                                    </div>
                                    <div class="col-4  col-sm-2 col-md-2 col-lg-2 mb-5 mt-1">
                                      <div class="dropdown">
                                        <button class="btn dropdown-toggle " type="button" id="gender" data-bs-toggle="dropdown" aria-expanded="false">
                                          Gender
                                        </button>
                                        <ul class="dropdown-menu sm" id="" aria-labelledby="">
                                          <li><a class="dropdown-item" href="#">Male</a></li>
                                          <li><a class="dropdown-item" href="#">Female</a></li>
                                          <li><a class="dropdown-item" href="#">Others</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-12">
                                        <label><h6>GST</h6></label>
                                      </div>
                                    </div>
                                        <div class="row mt-2">
                                          <div class="col-12 ">
                                              <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                  <label class="form-check-label" for="flexCheckDefault">
                                                    Use GSTIN details for this booking
                                                  </label>
                                                  <p class="sm">NOTE: This number cannot be updated once booking is completed</p>
                                                </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-12">
                                          <button type="submit" class="btn mb-3 continue " id="forthcontinuebtn">Continue to Payment</button>
                                      </div>
                                      </div>
                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
        
    </div>
</div>
</div>

